.about-container {
  margin: 0;
  width: 80%;
  overflow-y: auto;
}

.about-container p {
  padding: 0 1em;
}

.about-container p {
  text-align: left;
}

.about-container .katrinaImg {
  margin: 0;
  padding: 0;
  width: 100%;
}

@media only screen and (min-width: 1378px) {
  .about-container {
  }
}