.book-container {
  display: block;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  margin: 0 auto;
  padding: 0 1em;
  height: 80vh;
  max-width: 1010px;
  box-sizing:border-box;
  text-align: center;
  flex-direction: column;
  overflow-y: auto;
  border-top: white;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h1 {
  font-family: "Orbitron", sans-serif;
}

.book {
  text-align: left;
  margin: auto;
  padding: auto;
}

.book p {
  font-size: 1.1rem;
  line-height: 1.5;
}

.isbn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: bold;
}

.thumbnail {
  width: 20%;
  float: left;
  margin: 0;
  padding: 0;
}

blockquote {
  text-align: left;
  font-style: italic;
  border-left: 3px solid red;
  padding-left: 8px;
}

.reviewer {
  font-weight: bold;
  color: red;
}

.book {
  margin: 50px 0;
}

.purchase-links {
  display: grid;
  /* width:1000px; */
  grid-template-areas:
  "paperback hardcover e-book";
  justify-content: space-around;
  align-items: top;
  
}

.purchase-links .e-book {
  display: flex;
  flex-direction: column;
} 

.purchase-links .paperback {
  display: flex;
  flex-direction: column;
}

.purchase-links .hardcover {
  display: flex;
  flex-direction: column;
} 

.purchase-links img {
  background-color: #f2eefa;
  border-radius: 5px;
  padding: 0;
}

@media only screen and (max-width: 640px) {
  .book-container {
    width: 100%;
  }
}

