.extras-container {
  margin: 0;
  width: 80%;
  overflow-y: auto;
}

h3 {
    font-family: "Orbitron", sans-serif;
}

.extras-container p {
  padding: 0 1em;
  text-align: left;
}

.extras-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr); /* 1 columns */
  grid-template-rows: repeat(1, 1fr);    /* 1 rows */
  gap: 10px; /* optional spacing */
  place-items: center;
}

.extras-item {
  padding: 20px;
  text-align: center;
}

@media only screen and (min-width: 1378px) {
  .extras-container {
    width: 1000px;
  }
}

@media only screen and (max-width: 640px) {
  .extras-container {
    width: 100%;
  }
}