body {
  margin: 0;
  padding: 0;
  background: linear-gradient(#0E1935, #293A65);
}

.container {
  display: flex;
  justify-content: center;
  background-color: white;
  max-width: 1000%;
  margin: 0 auto;
  padding: 0;
  height: 80vh;
  box-sizing:border-box
}

.header {
  display: flex;
  background: linear-gradient(#0E1935, #293A65);
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  padding: 0;
  color: lightgrey;
  height: 15vh;
  padding: 0;
}

.header .navlink, .header .dropdown .dropbtn {
  font-family: Oxanium, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
  color: lightgrey;
  justify-content: space-around;
  padding: 10px;
}

.header .brand {
  font-family: Whisper, serif;
  font-size: 3rem;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header ul {
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.header .navlink {
  display: inline-block; 
  list-style-type: none;
  list-style-position: inside;
  margin: 0 20px;
  padding: 0 20px; 
  text-decoration: none;
}

.header .navlink:hover, .header .dropdown .dropbtn:hover {
  color: white;
}

.header .dropdown {
  position: relative;
}

.header .dropdown-content {
  background: linear-gradient(#0E1935, #293A65);
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.header .dropdown-content a {
  padding: 12px 0px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.header .dropdown-content a:hover {
  background-color: transparent;
}

.header .dropdown:hover .dropdown-content {
  background-color: transparent;
  display: block;
}

.header .dropdown .dropbtn {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.header a:hover, .header .dropdown:hover .dropbtn {

}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  margin: 0 auto;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vh;
}

.footer ul {
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.footer .copyright-text {
  font-weight: 100;
  font-size: 12px;
  margin-right: 10px;
}

.footer .socialLink {
  display: inline-block; 
  list-style-type: none;
  list-style-position: inside;
  margin: 0 20px;
  padding: 0 20px; 
  text-decoration: none;
}

.footer img {
  background-color: white;
  border: 5px solid white;
  border-radius: 5px;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 20px;
}

.home-screen-content {
  display: inline-block;
  width: 100%;
  box-sizing: border-box;
}

.home-screen-content img {
  height: 99999px;
  object-fit:contain;
  max-height: 100%;
  max-width: 100%;    
  display: block;
  margin: auto auto;
}
  

